/* Reset de márgenes y fuente */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Body con fondo */

body{
    background-color: rgb(13, 0, 35);
}

/* ------------- Header con espacio entre elementos ---------------------*/
header {
    padding: 20px;
    justify-content: space-between; /* Distribución de elementos */
    display: flex;
    background-color: #2a235a;
}

/* Links dentro del header */
header a {
    margin: 10px;
    color: #823aff;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 10px #823aff, 0 0 20px #823aff, 0 0 30px #823aff;
}

/* Barra de búsqueda */
.busqueda {
    background-color: #823aff;
    color: #000;
    padding: .25rem .5rem;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    box-shadow: 0 0 20px #823aff;
}

/* Placeholder de la barra de búsqueda */
.busqueda::placeholder {
    color: #000;
}

/* ----------------------------- ARTISTAS -------------------------------------*/
/* Estilos compartidos para los artistas */
.duki, .blessd, .feid, .karolg {
    transition: 1s;
    width: 350px;
    height: 500px;
    border-radius: 50px;
}

/* Sombra personalizada para cada artista */
.duki {
    box-shadow: 15px 15px 30px rgb(98, 0, 255), -15px -15px 30px rgb(98, 0, 255);
}
.blessd {
    box-shadow: 15px 15px 30px rgb(0, 191, 255), -15px -15px 30px rgb(0,191,255);
}
.feid {
    box-shadow: 15px 15px 30px rgb(4, 255, 0), -15px -15px 30px rgb(4,255,0);
}
.karolg {
    box-shadow: 15px 15px 30px rgb(238, 0, 255), -15px -15px 30px rgb(238,0,255);
}

/* Contenedor de cartas de artistas */
.card-artista {
    margin: 80px 250px 100px 250px;
    display: flex;
    text-align: center;

}

/* Z-index para artistas */
.duki, .blessd, .feid, .karolg {
    z-index: 1;
}

/* Información adicional en hover */
.info{
    transition: 1s;
    position: absolute;
    border-radius: 50px;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
}

/* Animación en hover */
.card-artista:hover .info {
    border-radius: 0 50px 50px 0;
    transform: translateX(350px);
}

/* Hover para los artistas */
.card-artista:hover .duki,
.card-artista:hover .blessd,
.card-artista:hover .feid,
.card-artista:hover .karolg {
    box-shadow: none;
    border-radius: 50px 0 0 50px;
}

/* Botón */
.boton {
    background-color: white;
    color: black;
    border-radius: 9em;
    font-size: 17px;
    font-weight: 600;
    padding: 0.8em 3em;
    cursor: pointer;
    border: 1px solid black;
}

/* Efecto hover del botón */
button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

/* Efecto click del botón */
button:active {
    transform: translateY(2px) translateX(1px);
}

/* Contenedor de la lista de artistas */
.listas-artista {
    display: flex;
    flex-wrap: wrap;
}

/*----------- Total precio -------------------*/

.total{
    justify-content: center;
    display: flex;
    padding: 10px;
    background-color: rgb(215, 215, 215);
    color: rgb(0, 0, 0);
}

.boton-limpiar{
    width: 5%;
    margin-left: 15px;
    border-radius: 8px;

}



/*---------------------- Footer ---------------------------------*/
footer{
    padding: 20px;
    background-color: white;
}

footer .main{
    margin: 50px ;
    display: flex;
}

.footer{
    font-size: 25px;
    margin-right: 130px;
    display: flex;
    flex-direction: column;
}

.titulo-footer{
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
}

.footer a{
    margin: 3px;
    color: rgb(101, 101, 101);
    text-decoration: none;
}

.bottom-footer{
    margin: 15px 15px 0 15px;
    justify-content: space-between;
    font-size: 20px;
    display: flex;
}